.title-icon {
    width: 20% ;
    user-select: none;
    cursor: pointer;
}

.repositories-icon {
    width: 20%;
    padding: 0.5%;
}

@media screen and (max-width: 500) {
    .repositories-icon {
        width: 15% !important;
        height: 15% !important;
        padding: 0.5%;
    }
}